#ignore git ignore file
fastAPI/db/.env
task_1/.env
task_2/.env
task_3/.env
task_4/.env
filehandeling/.env
task_1/venv
task_2/venv
task_3/venv
task_4/venv
filehandeling/venv
fastapi/db/myenv
fastapi/env
fastapi/__pycache__
task_1/__pycache__ 
task_2/__pycache__
task_3/app/__pycache__
task_4/app/__pycache__
CI_CD/venv
CI_CD/__pycache__
__pycache__/
*.pyc
venv/